[submodule "Source/DelphiAST"]
	path = Source/DelphiAST
	url = https://github.com/Kridselot/DelphiAST
[submodule "Source/OmniThreadLibrary"]
	path = Source/OmniThreadLibrary
	url = https://github.com/Kridselot/OmniThreadLibrary
	branch = master
[submodule "Tools"]
	path = Tools
	url = https://github.com/Kridselot/Tools.git
